<!DOCTYPE html>
<html>
  <head>
    <title>youtube動画をみんなで観てわいわいやるやつ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <link rel='stylesheet' href='/stylesheets/tip.css' />    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/nicoscreen.js"></script>
    <script type="text/javascript" src="/javascripts/swfobject.js"></script> 
    <script type="text/javascript" src="/javascripts/jquery.betterTooltip.js"></script>   
    <script type="text/javascript">
      $(document).ready(function(){
      $('.tTip').betterTooltip({speed: 300, delay: 500});
      });
    </script>
  </head>
  
  <body>
    <h1>youtube動画をみんなで観てわいわいやるやつ</h1>
    　激しくα以前。connecting... が ready! になるまでちょっとまってね。
    <hr>
    <span id="transportName">connecting...</span>　<span id="count">Peoples:0 </span><br>
    <span class="tTip" title="ニックネームなど常にメッセージの先頭に付けたい文字列があれば入力してください">
      Prefix(optional)<input id="msg-prefix" class="text"size="10"></input>
    </span>
    <span class="tTip" title="流したいメッセージを入力してください(Enterで送信)">
      <input id="msg" class="text" size="50" onkeydown="send();"></input>
      <input id="submitButton" class="submit" type="button" value="コメント"></input>
    </span>
    <span class="tTip" title="youtube動画のIDを入力してください(watch?v= に続くID)">
      <input id="videoid" class="text" size="30" value="2MJoclZCsbo"></input>
      <input id="change" class="submit" type="button" value="change"></input> 
    <br>
    <br>
    </span>

    <div id="ytapiplayer">
      You need Flash player 8+ and JavaScript enabled to view this video.
    </div>
    <div id="nicoscreen"></div>
    <div id="parent"></div>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <script type="text/javascript">
      function send(){
          console.log(event.keyCode);
          if(event.keyCode==13){
              $("#submitButton").click();
              $("#msg").val("");
          }
      }
    </script>


    <hr>
    現在の仕様
　　<ul>
      <li>Google Chromeのみで猿的に動作確認しています</li>
      <li>チャットのログは今居るメンバーにしか同期されません</li>
      <li>同期するプレイヤーのイベントは、楽曲の変更とシーク、のみです</li>
      <ul>
	<li>シークは”現在再生しているひと”のみ同期されます</li>
	<li>楽曲の変更(change)は今居るメンバー全員のブラウザで同期して再生が開始されます</li>
      </ul>
      <li>同じ曲を繰り返す場合は再度同じIDで部屋主がchangeしてください</li>
    </ul>
  </body>
</html>
