<!DOCTYPE html>
<html>
  <head>
    <title>youtube動画をみんなで観てわいわいやるやつ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/nicoscreen.js"></script>
    <script type="text/javascript" src="/javascripts/swfobject.js"></script>    
    <script type="text/javascript" src="/javascripts/client.js"></script>
  </head>
  
  <body>
    　<h1>youtube動画をみんなで観てわいわいやるやつ</h1>
    　ready!になるまでちょっとまってね。
    　<hr>

    <div id="transportName">connecting...</div>
    <input id="msg" size="50"></input>
    <input id="submitButton" type="button" value="submit!"></input><br>
    <input id="videoid" size="50" value="2MJoclZCsbo"></input>
    <input id="change" type="button" value="change"></input>
    <br>
    <div id="nicoscreen" style="width:560px;height:349px"> 
      <div id="ytapiplayer">
	You need Flash player 8+ and JavaScript enabled to view this video.
      </div>
    </div>    
  </body>
</html>
