body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#user{
    border-top:1px solid #fff;
    border-bottom:1px solid #ddd;
    padding:5px;
    margin-bottom:0;
    background:#eee;
    font-size:80%;
}

#parent{
    position:absolute; top:220px; left:600px;
    width:500px;
    border:1px solid #ccc;   
    height: 350px;
    overflow: scroll;

}

#ytapiplayer{
    z-index:10;
    position:absolute; top:240px; left:20px;
}

#nicoscreen{
    z-index:0;
    border:none;
    width:558px;
    height:300px;
    position:absolute; top:-340px; left:0px;
};



textarea{padding:5px;}